<nav class="navbar navbar-expand-md navbar-dark bg-dark" aria-label="Fourth navbar example">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <div>
        <img class ="reverse"src="https://cdn-icons-png.flaticon.com/512/4284/4284034.png" alt="Alternate Text" />
      </div>
      TravelAway
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>



    <div class="collapse navbar-collapse" id="navbarsExample04">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Packages</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">FAQs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">About</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Settings</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">
                  <i class="fa-solid fa-language"></i>
                  Language
                </a>
            </li>
            <li><a class="dropdown-item" href="#">
                  <i class="fa-solid fa-globe"></i>
                    Country/Region
                 </a>
            </li>
            <li><a class="dropdown-item" href="#">More</a></li>
          </ul>
        </li>
      </ul>
      <div class="text-end"> 
        <button type="button" class="btn btn-outline-light me-2 textsmall bt">
          <i class="fa-solid fa-user"></i>
          Log In

        </button>
      </div>
    </div> 
  </div>
</nav>


<router-outlet></router-outlet>
