<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
  
  <div class="carousel-inner">
    <div *ngFor="let eachPackage of Packages; index as i" [ngClass]="{active: i==0}" class="carousel-item" data-bs-interval="10000">
      <img [src]="eachPackage.packageAvatar" style="height: 500px; width: 100%;" class="d-block" alt="Thank you">
      <div class="carousel-caption d-none d-md-block">
        <h3 class="text-light shadowvisibility">{{eachPackage.packageName}}</h3>
        <p class="text-light shadowvisibility">{{eachPackage.packageDesc}}</p>
        
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<app-view-packages></app-view-packages>
