.gradient-custom {
  /* fallback for old browsers */
  background: #f6d365;
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1));
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right bottom, rgb(211 79 79), rgb(56 5 34));
}
section {
  background-color: #212529;
}
.shadoweffect {
  border-radius: .5rem;
  box-shadow: 0 0 100px 0 #198754;
  transition: box-shadow 0.5s;
}

  .shadoweffect:hover {
    box-shadow: 0 0 100px 0 #ffc107;
    transition: all 0.5s;
  }
.inputborderless {
  border-radius: 5%;
  border: 0px;
}
  .inputborderless:hover {
    border: 0px;
    color: #545862;
  }
