<!--<div class="modal modal-signin position-static d-block bg-secondary py-5" tabindex="-1" role="dialog" id="modalSignin">

  <div class="outer">
    <div class=" container">
      <div class="row">
        <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
          <div class=" panel border bg-white">
            <div class="container-fluid panel-heading d-flex justify-content-around">

              <h1 class="pt-3 font-weight-bold" style="text-align: left; font-size: x-large; position: relative; bottom: -10px; left: -65px;">Login</h1>
              <a routerLink="/home" class="btn-close" style="height: 10px; width: 10px; position: relative; top: 31px; left: 18%; padding: 5px;" aria-label="Close"></a>
            </div>
            <div class="panel-body p-3">
              <form>
                <div class="form-group pt-3">
                  <div class="input-field px-4">
                    <span class="fa fa-user p-2"></span>-->
<!--for user icon-->
<!--<input type="text" style="width: 80%;" placeholder="Username" required />
  </div>
</div>
<div class="form-group pt-3">
  <div class="input-field px-4">
    <span class="fa fa-lock p-2"></span>-->
<!--for password icon-->
<!--<input type="password" style="width:80%;" placeholder="Password" required />
                </div>
              </div>
              <div class="form-inline fr mt-4">
                <a id="forget" class=" font-weight-bold">Forget Password?</a>
              </div>
              <button type="submit" class=" btn btn-primary btn-block mt-4 w-50" onclick="login()" style="position: relative; left: 25%;">Login</button>
              <div class="text-center pt-4 text-muted">Don't have accuont? <a id=" forget" routerLink="/signup">SignUp</a></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>-->
<!--<div class="modal modal-signin position-static d-block bg-secondary py-5" tabindex="-1" role="dialog" id="modalSignin">
  <div class="modal-dialog" role="document">
    <div class="modal-content rounded-4 shadow">
      <div class="modal-header p-5 pb-4 border-bottom-0">
        <form>
          <div class="form-group pt-3">
            <div class="input-field px-4">
              <span class="fa fa-user p-2"></span>-->
 <!--for user icon-->
<!--<input type="text" style="width: 80%;" placeholder="Username" required />
  </div>
</div>
<div class="form-group pt-3">
  <div class="input-field px-4">
    <span class="fa fa-lock p-2"></span>-->
 <!--for password icon-->
<!--<input type="password" style="width:80%;" placeholder="Password" required />
            </div>
          </div>
          <div class="form-inline fr mt-4">
            <a id="forget" class=" font-weight-bold">Forget Password?</a>
          </div>
          <button type="submit" class=" btn btn-primary btn-block mt-4 w-50" onclick="login()" style="position: relative; left: 25%;">Login</button>
          <div class="text-center pt-4 text-muted">Don't have accuont? <a id=" forget" routerLink="/signup">SignUp</a></div>
        </form>
      </div>
    </div>
  </div>
</div>-->

<div class="modal modal-signin position-static d-block bg-secondary py-5" tabindex="-1" role="dialog" id="modalSignin">
  <div class="modal-dialog" role="document">
    <div class="modal-content rounded-4 shadow">
      <div class="modal-header p-5 pb-4 border-bottom-0">

        <h1 class="fw-bold mb-0 fs-2">Login</h1>
        <a routerLink="/home" class="btn-close" style="height: 10px; width: 10px; padding: 5px;" aria-label="Close"></a>
      </div>
      <div class="modal-body p-5 pt-0">
        <form class="">
          <div class="form-floating mb-3">
            <input type="email" class="form-control rounded-3" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Email address</label>
          </div>
          <div class="form-floating mb-3">
            <input type="password" class="form-control rounded-3" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password</label>
          </div>
          <button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" type="submit">Sign up</button>

          <div class="form-inline fr mt-4">
            <a id="forget" class=" font-weight-bold">Forget Password?</a>
          </div>
          <div class="text-center pt-4 text-muted">Don't have accuont? <a id=" forget" routerLink="/signup">SignUp</a></div>
        </form>
      </div>
    </div>
  </div>
</div>



























