@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

html, body { height: 100%; }
body { margin: 0; font-family: Ebrima, 'Bookman Old Style', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif }
*{ font-family: Ebrima, cursive; }

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #212529;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #dc3545;
}

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
