<div class="signup">
  <h1>Edit Profile</h1>
  <form [formGroup]="registerForm" (ngSubmit)="SubmitForm(editProfileForm)">
    
    <div class="form-group">
      <label>Gender</label>
      <input type="radio" formControlName="gender" name="gender" value="M" />
      <label>Male</label>
      <input type="radio" formControlName="gender" name="gender" value="F" />
      <label>Female</label>
    </div>
    <div class="form-group">
      <label>Date of Birth</label>
      <input type="date" class="form-control" formControlName="dateOfbirth">
    </div>
    <div class="form-group">
      <label>Address</label>
      <input type="text" class="form-control" formControlName="address">
    </div>
    <button type="submit">Update</button>
  </form>
  <div>
    {{msg}}
  </div>
  <br />
</div>
