<div class="modal modal-signin position-static d-block bg-dark py-5 " role="dialog" id="modalSignin">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content rounded-4 shadow">
      <div class="modal-header p-5 pb-4 border-bottom-0">
        <h1 class="fw-bold mb-0 fs-2" style="text-align:center"> Sign up</h1>
        <a routerLink="/home" class="btn-close" style="height: 10px; width: 10px;  padding: 10px;" aria-label="Close"></a>
      </div>

      <div class="modal-body p-5 pt-0">
        <form class="" #signupForm="ngForm" (ngSubmit)="RegisterCustomer(signupForm)">
          <div class="form-floating mb-3">
            <input type="text" class="form-control rounded-3" pattern="[A-Za-z]+" #firstNameRef="ngModel" ngModel name="firstName" id="floatingInputFirstName" placeholder="First Name" required>
            <label for="floatingInputFirstName">First Name</label>

            <div class="container btn-outline-danger btn" style="border: none;" *ngIf="firstNameRef.errors && (firstNameRef.dirty || firstNameRef.touched)">
              <div [hidden]="!firstNameRef.errors.required">
                <p>&nbsp;First Name is mandatory</p>
              </div>
              <div [hidden]="!firstNameRef.errors.pattern">
                <p>&nbsp;First Name should be all alphabetic.</p>
              </div>
            </div>
          </div>
          <div class="form-floating mb-3">
            <input type="text" class="form-control rounded-3" pattern="[A-Za-z]+" #lastNameRef ngModel name="lastName" id="floatingInputLastName" placeholder="Last Name" required>
            <label for="floatingInputLastName">Last Name</label>

            <div class="container btn-outline-danger btn" style="border: none;" *ngIf="lastNameRef.errors && (lastNameRef.dirty || lastNameRef.touched)">
              <div [hidden]="!lastNameRef.errors.required">
                <p>&nbsp;Last Name is mandatory</p>
              </div>
              <div [hidden]="!lastNameRef.errors.pattern">
                <p>&nbsp;Last Name should be all alphabetic.</p>
              </div>
            </div>

          </div>
          <div class="form-floating mb-3">
            <input type="email" class="form-control rounded-3" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" #emailIdRef ngModel name="emailId" id="floatingInputEmailId" placeholder="Email address" required>
            <label for="floatingInputEmailId">Email address</label>

            <div class="container btn-outline-danger btn" style="border: none;" *ngIf="emailIdRef.errors && (emailIdRef.dirty || emailIdRef.touched)">
              <div [hidden]="!emailIdRef.errors.required">
                <p>&nbsp;Email ID is mandatory</p>
              </div>
              <div [hidden]="!emailIdRef.errors.pattern">
                <p>&nbsp;Please enter a valid Email.</p>
              </div>
            </div>


          </div> 
          <div class="form-floating mb-3">
            <input type="password" class="form-control rounded-3" #passwordRef pattern="[^-\s]+" ngModel name="password" id="floatingPassword" placeholder="Password" required>
            <label for="floatingPassword">Password</label>

            <div class="container btn-outline-danger btn" style="border: none;" *ngIf="passwordRef.errors && (passwordRef.dirty || passwordRef.touched)">
              <div [hidden]="!passwordRef.errors.required">
                <p>&nbsp;Password is mandatory</p>
              </div>
            </div>



          </div>
          <div class="form-floating mb-3">
            <input type="password" class="form-control rounded-3" #confirmPasswordRef pattern="[^-\s]" ngModel name="confirmPassword" id="floatingCPassword" placeholder="Confirm Password" required>
            <label for="floatingCPassword">Confirm Password</label>
          </div>
          <div class="form-floating mb-3 form-group">
            <select class="form-select" ngModel #genderRef name="gender" required>
              <option value="" disabled selected>--Select Gender--</option>
              <option value="M">Male</option>
              <option value="F">Female</option>
            </select>
            
            <label for="floatingInput">Gender</label>
          </div>
          <div class="form-floating mb-3">
            <input pattern="[0-9]{10}" type="tel" class="form-control rounded-3" #contactNumberRef ngModel name="contactNumber" id="floatingInputGender" placeholder="Contact Number" required>
            <label for="floatingInputGender">Contact Number</label>
            <!--<input type="tel" id="phone" name="phone" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}">
  <label for="phone">Enter your phone number:</label>-->

            <div class="container btn-outline-danger btn" style="border: none;" *ngIf="contactNumberRef.errors && (contactNumberRef.dirty || contactNumberRef.touched)">
              <div [hidden]="!contactNumberRef.errors.required">
                <p>&nbsp;Contact Number is mandatory</p>
              </div>
              <div [hidden]="!contactNumberRef.errors.pattern">
                <p>&nbsp;Contact Number should be of 10 digits.</p>
              </div>
            </div>

          </div>
          <div class="form-floating mb-3">
            <input type="date" class="form-control rounded-3" #dateOfBirthRef ngModel name="dateOfBirth" id="floatingInputDoB" placeholder="Date Of Birth" required>
            <label for="floatingInputDoB">Date Of Birth</label>
          </div>
          <div class="form-floating mb-3">
            <input type="text" class="form-control rounded-3" #addressRef ngModel name="address" id="floatingInputAddress" placeholder="Address" required>
            <label for="floatingInputAddress">Address</label>
          </div>
          <button class="w-100 mb-2 btn btn-lg rounded-3 btn-danger" type="submit">Sign up</button>
          <p *ngIf="signupSuccess">Sign up successful. You can now log in.</p>
          <small class="text-muted">By clicking Sign up, you agree to the terms of use.</small>
          <div class="text-center pt-4 text-muted">Already a User? <a id=" forget" routerLink="/login">Log in here</a></div>
        </form>
      </div>
    </div>
  </div>
</div>
