<div class="modal modal-signin position-static d-block bg-secondary py-5" tabindex="-1" role="dialog" id="modalSignin">
  <div class="modal-dialog" role="document">
    <div class="modal-content rounded-4 shadow">
      <div class="modal-header p-5 pb-4 border-bottom-0">
        <h1 class="fw-bold mb-0 fs-2" style="text-align:center"> Sign up</h1>
        <a routerLink="/home" class="btn-close" style="height: 10px; width: 10px;  padding: 10px;" aria-label="Close"></a>
      </div>

      <div class="modal-body p-5 pt-0">
        <form class="">
          <div class="form-floating mb-3">
            <input type="text" class="form-control rounded-3" id="floatingInput" required>
            <label for="floatingInput">FirstName</label>
          </div>
          <div class="form-floating mb-3">
            <input type="text" class="form-control rounded-3" id="floatingInput" required>
            <label for="floatingInput">LastName</label>
          </div>
          <div class="form-floating mb-3">
            <input type="email" class="form-control rounded-3" id="floatingInput" required>
            <label for="floatingInput">Email address</label>
          </div>
          <div class="form-floating mb-3">
            <input type="password" class="form-control rounded-3" id="floatingPassword" required>
            <label for="floatingPassword">Password</label>
          </div>
          <div class="form-floating mb-3">
            <input type="password" class="form-control rounded-3" id="floatingConfirmPassword" required>
            <label for="floatingPassword">Confirm Password</label>
          </div>
          <div class="form-floating mb-3 form-group">
            <select class="form-select" name="gender" required>
              <option value="" disabled selected>--Select Gender--</option>
              <option value="M">Male</option>
              <option value="F">Female</option>
            </select>
            
            <label for="floatingInput">Gender</label>
          </div>
          <div class="form-floating mb-3">
            <input pattern="[0-9]{10}" type="tel" class="form-control rounded-3" id="floatinginput" required>
            <label for="floatingInput">Contact Number</label>
          </div>
          <div class="form-floating mb-3">
            <input type="date" class="form-control rounded-3" id="floatingInput" required>
            <label for="floatingInput">DateOfBirth</label>
          </div>
          <div class="form-floating mb-3">
            <input type="text" class="form-control rounded-3" id="floatingInput" required>
            <label for="floatingInput">Address</label>
          </div>
          <button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" type="submit">Sign up</button>
          <small class="text-muted">By clicking Sign up, you agree to the terms of use.</small>
        </form>
      </div>
    </div>
  </div>
</div>
