/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #212529;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #dc3545;
}

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

input.ng-invalid.ng-touched {
  box-shadow: 0 0 10px 0 #dc3545;
}

input.ng-valid {
  box-shadow: 0 0 10px 0 #198754;
}
