
select.form-select.shadow-lg {
  border-color: #dc3545;
}

div.shadow-light {
  box-shadow: 10px 10px 20px 0 #dc3545;
  transform: skewY(3deg);
  transition: all 0.5s;
}

select.shadow-light{
  box-shadow: 10px 10px 20px 0 #dc3545;
  transition: all 0.5s;

}
  select.shadow-light:hover {
    box-shadow: 10px 10px 20px 0 #f8f9fa;
    transition: all 0.5s;
  }

  div.shadow-light:hover {
    box-shadow: 10px 10px 20px 0 #f8f9fa;
    transform: scale(1.05);
    transition: all 0.5s;
  }

img.ripple{

    height: 250px;
}
div.card-body{
    height: 150px;
}
